<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<
<div class="container">
    <div class="col-12 text-center">
        <h3 class="font-weight-light content">Welcome to simple Cosmic Project App.
            <span class="content-header">Enjoy!</span>
        </h3>
        <p th:text="${message}" style="color: white"></p>
        <a href="/planets"><p>Solar system admin panel</p></a> <br>
        <a href="/logout"><p>logout</p></a> <br>
        <!--<a href="/excel"><p>create .xls file</p></a>-->
        <hr>
    </div>

    <div class="row">
        <div th:replace="fragments/overview :: planets"></div>
    </div>

</div>

</body>
</html>