<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container" th:replace="fragments/table :: table"></div>


<div class="row">
    <div class="col-sm-12 text-center">
        <h3>Solar System Admin Panel</h3>
        <hr>
    </div>
</div>

<div class="row">
    <div th:replace="fragments/add :: add"></div>
</div>


<a th:href="@{/}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>back to home page</a>


</body>
</html>